textarea {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    line-height: 20px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
 }
 .btn_add{
    margin-left: 5px;
    margin-top:20px;
 }
 .new_post{
    margin-bottom: 50px;
 }